[submodule "CherryBell/vendor/spdlog"]
	path = CherryBell/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Cherrybell/vendor/GLFW"]
	path = Cherrybell/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "CherryBell/vendor/imgui"]
	path = CherryBell/vendor/imgui
	url = https://github.com/thecherno/imgui
